/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Components
	- Header
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
section {
  padding: 1rem 2rem;
}

/* Typography
--------------------------------------------- */
body {
  background-color: #fcfcfc;
  font-family: "Work Sans", sans-serif;
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
  padding-bottom: 6rem;
}

h1,
h2,
h3 {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  /* padding: 1rem 0; */
  color: #000000;
}

h1 {
  font-size: clamp(1.8rem, 1.76rem + 0.2vw, 2rem);
}

h2 {
  font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
}

h3 {
  font-size: clamp(1rem, 0.966rem + 0.17vw, 1.17rem);
}

#logo {
  font-family: "M Plus Rounded 1c", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
  color: #6e3678;
  flex-shrink: 0;
}

/* Links 
--------------------------------------------- */

/* Header
--------------------------------------------- */
.site-header {
  padding: 1rem 2rem;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#header-menu {
  list-style: none;
  padding: 1rem 0.5rem;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 29000;
  background-color: #fef9fe;
  display: none;
}

#header-menu.toggled {
  display: block;
  margin: 0;
}

#header-menu a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  color: #292929;
}

#header-menu a:hover,
#header-menu a:active {
  color: #6e3678;
  text-decoration: 2px solid underline;
  text-underline-offset: 0.75rem;
}

#header-menu a:focus {
  outline: 1px solid;
}

#header-menu li {
  padding: 0.5rem 0;
}

.menu-toggle {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.menu-toggle svg {
  width: 2.5rem;
}

.menu-toggle:hover,
.menu-toggle:active,
.menu-toggle:focus {
  color: #6e3678;
}

.menu-toggle:focus {
  outline: 1px solid;
}

/* BASE MOBILE ENDS HERE
===================================== */
@media (min-width: 50em) {
  section,
  .site-header {
    padding: 1rem 8rem;
  }

  .menu-toggle {
    display: none;
  }

  #header-menu {
    display: flex;
    position: static;
    background-color: transparent;
    gap: clamp(0.5rem, 0rem + 2.5vw, 3rem);
    padding: 0;
  }

  #header-menu li {
    padding: 0;
  }
}

/* Footer
--------------------------------------------- */

footer {
  background-color: #c7aacc;
  text-align: center;
  padding: 3rem;
  /* position: fixed; */
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  color: black;
}
