.site-header {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem 4rem;
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: 4rem;
}
